<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: common_header(~{::title},~{},~{})">
<title th:text="#{edit.edit} + ' ' + #{class.Orders}"></title>
</head>
<body class="d-flex flex-column min-vh-100">
	<div th:replace="fragments/header :: header">&nbsp;</div>
	<div class="wrapper flex-grow-1">

		<form class="form-narrow form-horizontal" method="post"
			th:action="@{/orderss/save}" th:object="${ordersForm}"
			th:fragment="ordersForm">
			<!--/* Show general error messages when form contains errors */-->
			<th:block th:if="${#fields.hasErrors('${ordersForm.*}')}">
				<div th:each="fieldErrors : ${#fields.errors('${ordersForm.*}')}">
					<div th:each="message : ${fieldErrors.split(';')}">
						<div
							th:replace="fragments/alert :: alert (type='danger', message=${message})">Alert</div>
					</div>
				</div>
			</th:block>
			<fieldset>
				<legend th:unless="${ordersForm.id > 0}"
					th:text="#{edit.new} + ' ' + #{class.Orders}"></legend>
				<legend th:if="${ordersForm.id > 0}"
					th:text="#{edit.edit} + ' ' + #{class.Orders}"></legend>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('comment')}? 'has-error'">
					<label for="comment" class="col-lg-2 control-label"
						th:text="#{Orders.comment} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="comment"
							th:field="*{comment}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('comment')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<input type="hidden" class="form-control" id="id" th:field="*{id}" />
				<div class="form-group"
					th:classappend="${#fields.hasErrors('invdate')}? 'has-error'">
					<label for="invdate" class="col-lg-2 control-label"
						th:text="#{Orders.invdate} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="invdate"
							th:field="*{invdate}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('invdate')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('orderdate')}? 'has-error'">
					<label for="orderdate" class="col-lg-2 control-label"
						th:text="#{Orders.orderdate} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="orderdate"
							th:field="*{orderdate}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('orderdate')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('ordernum')}? 'has-error'">
					<label for="ordernum" class="col-lg-2 control-label"
						th:text="#{Orders.ordernum} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="ordernum"
							th:field="*{ordernum}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('ordernum')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group">
					<div class="col-lg-offset-2 col-lg-10">
						<button type="submit" name="action" value="save"
							class="btn btn-default" th:text="#{edit.save}"></button>
						<button type="submit" name="action" value="cancel" class="btn"
							th:text="#{edit.cancel}"></button>
					</div>
				</div>
			</fieldset>
		</form>

	</div>
	<div class="mt-auto" th:insert="fragments/footer :: footer">&copy;
		2020 default</div>
</body>
</html>
